<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вторая часть вопросников</title>
</head>
<body>
<form method="post", action="/submit2">
    <label>
        {% for sys in spisok %}
        {{sys}} является главным объектом?
        <input type = "text" name={{sys}}>
        <br>
        {%endfor%}
    </label>
    <label>
        {% for role in roles %}
        Назовите исполнителей на роль {{ role }}
        <input type = "text" name={{role}}>
        <br>
        {%endfor%}
    </label>
    <label>
        Основные свойства главного объекта/лица/сущности в задаче:
    </label>
    <input type = "text" name="system_feat">
    <br>
    <input type="submit">
    </form>
</body>
</html>