<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>1е вопросы</title>
</head>
<body>
    <form method="post"
    action="/submit">
        <label>
            Введите изменение:
        </label>
        <input type = "text" name="task">
        <br>
        <label>
            Опишите вашу задачу полностью без знаков препинания через пробел каждое слово:
        </label>
        <input type = "text" name="description">
        <br>
        <label>
            Какова ваша цел-(ь/и)
        </label>
        <input type = "text" name="aims">
        <br>
        <label>
            Введите сценари-(и/й) задачи:
        </label>
        <input type = "text" name="scenarium">
        <br>
        <label>
            Введите роли через запятую:
        </label>
        <input type = "text" name="roles">
        <br>
        <label>
        Основные свойства главного объекта/лица/сущности в задаче:
        </label>
        <input type = "text" name="system_feat">
        <br>
        <input type="submit">
    </form>
</body>
</html>